<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href=""><i class="menu-icon fa fa-folder"></i>KMS 365 </a>
                </li>
                <li class="menu-title">Courriers</li><!-- /.menu-title -->
                <li>
                    <a href="addmail"> <i class="menu-icon ti-email"></i>Nouveaux </a>
                </li>
                <li>
                    <a href="listemail"> <i class="menu-icon ti-email"></i>Tout les mails</a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon ti-email"></i>Traités </a>
                </li>



                <li class="menu-title">DOSSIERS</li><!-- /.menu-title -->
                <li>
                    <a href=""> <i class="menu-icon ti-email"></i>Créer un nouveau </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon ti-email"></i> Finance</a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon ti-email"></i>RH </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>